/*
General
*/
.nuxt-content {
    font-size: 21px;
}

/*
Header
*/

.nuxt-content h1 {
    font-size: 42px;
    margin: 0 0 30px 0;
}
.nuxt-content h2 {
    font-size: 34px;
    margin: 0 0 30px 0;
    border-bottom: 2px solid #ddd;
}
.nuxt-content h3 {
    font-size: 30px;
    margin: 0 0 20px 0;
}
.nuxt-content h4 {
    font-size: 28px;
    margin: 0 0 30px 0;
}
.nuxt-content h5 {
    font-size: 24px;
    margin: 0 0 30px 0;
}
.nuxt-content h6 {
    font-size: 21px;
    margin: 0 0 30px 0;
}

.nuxt-content p {
    margin: 0 0 20px 0;
}


/*
Header links
*/
.nuxt-content h2:before, .nuxt-content h3:before {
    display: block;
    content: " ";
    margin-top: -80px;
    height: 80px;
    visibility: hidden;
    pointer-events: none;
}

/*
Links
*/
.nuxt-content a {
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    color: #1493de;
    word-break: break-word;
}

.nuxt-content a:hover {
    color: #1183c6;
}

.nuxt-content a[aria-hidden="true"] {
    margin: 0;
}

/*
Codeblock
*/
.nuxt-content pre[class*="language-"] {
    padding: 8px 10px!important;
    border-radius: 4px;
    font-size: 16px!important;
    margin: 0 0 20px 0;
}

.nuxt-content p > code {
    background-color: #e5e5e5;
    color: #555;
    font-weight: 900;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 16px;
    font-family: Consolas, monospace;
    line-height: 1.4;
}

/*
Images
*/
.nuxt-content img {
    max-width: 350px;
    vertical-align: top;
}

/*
Blockquotes
*/
.nuxt-content blockquote {
    display: flex;
    margin: 0 0 20px 0;
    padding: 10px 10px 10px 40px;
    background-color: #eee;
    border-radius: 4px;
    position: relative;
    color: #555;
}

.nuxt-content blockquote:before {
    content: "“";
    position: absolute;
    left: 5px;
    top: -10px;
    color: orange;
    font-size: 90px;
    font-family: sans-serif;
}

.nuxt-content blockquote p {
    margin: 0;
}

/*
Tables
*/
.nuxt-content table {
    margin: 0 0 20px 0;
    border-collapse: collapse;
    text-align: left;
}

.nuxt-content table th {
    background-color: #eee;
}

.nuxt-content table td, .nuxt-content table th {
    border: 1px solid #ddd;
    padding: 5px 10px;
}

/*
Lists
*/

.nuxt-content ul, ol {
    margin: 0 0 20px 0;
}

.nuxt-content li {
    margin-bottom: 10px;
}

/*
* Mobile sizes
*/
@media only screen and (max-width: 720px) {
    .nuxt-content h1 {
        font-size: 38px;
    }
}